<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>htmless</string>
	<key>ordering</key>
	<array>
		<string>7AE28D7D-FF5B-4C8D-861D-9941059931AC</string>
	</array>
	<key>uuid</key>
	<string>642512D1-86C9-4C31-A6CE-90333CAD809F</string>
</dict>
</plist>
